img {
    border-radius: 4px;
    width: 50rem;
    height: 25rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;

}

.flex-item-left {
    margin-left: 15%;
    margin-right: auto;
}

.flex-item-right {
    background-color: white;
    margin-left: 5%;
    margin-right: 15%;
    flex-grow: 1;
    word-wrap: break-word;

}


.message-post-save {
    width: auto;
    display: flex;
    flex-direction: column;
    background: white;
}

/* The post saved contents */
.flex-container-save {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;


}

.textTwo p {
    word-wrap: break-word;
    flex-basis: 200px;
}


#delete {
    margin-left: 5%;
    margin-right: 5%;
    height: 90px;
    width: 250px;
}


@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    /* --------------- Display Flex --------- */