html {
    font-size: 62.5%;
}

img {
    border-radius: 4px;
    width: 50rem;
    height: 25rem;
}

.textOne {
    color: #f1f1f1;
}

.postArea {
    margin: 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}



.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    text: color white;
    background-color: black;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    /* --------------- Display Flex --------- */