.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;

}

img {
    border-radius: 4px;
    width: 50rem;
    height: 25rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.form-group {

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.labelLogin {
    font-size: xx-large;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.form-group .btn {
    width: auto;
    margin-left: 200px;
    margin-right: auto;
}

label {
    margin-left: 5rem;
    margin-right: 1rem;
    padding-left: auto;
    padding-right: auto;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    img {
        height: 100%;
        width: 100%;
    }
}