.flex-container-post {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.flex-item-left-post {
    margin-right: 5%;
}



.flex-item-right-post {
    margin-left: 5%;
    margin-right: 15%;
    flex-grow: 1;
}

.flex-item-right-post button {
    display: block;
    width: 100%;
    border: none;
    background-color: #E17B6A;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.flex-item-right-post :hover {
    background-color: greenyellow;
    color: black;

}

#postInput {
    width: 99%;
    height: 2rem;
    margin-bottom: 5%;
    padding: 0%;
}

#area {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: green;
    font-size: 16px;
    resize: none;
}