<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Welcome


            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/Form">Form</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/exit">Exit</a></li>
            <li><a href="/">Logout</a></li>
            <li id="navbar"></li>
        </ul>

    </div>

</nav>
<!-- <script src="../entry/menu.js"></script> -->
<%- include('./dialogWin.ejs') %>

<!-- <%  %> -->

<!-- https://www.javatpoint.com/bootstrap-navbar -->