<script>
    console.log("javascript is included")


    function navbar() {
        let head = document.querySelector("head");
        console.log("navbar");

        let linkTwo = document.createElement("link");
        linkTwo.type = 'text/css';
        linkTwo.href = '/css/main.css';
        linkTwo.rel = "stylesheet";
        head.appendChild(linkTwo);
    }
    navbar();




    function log() {
        console.log("log")
        let head = document.querySelector("head");
        let linkFour = document.createElement("link");
        linkFour.type = 'text/css';
        linkFour.href = `/css/login.css`;
        linkFour.rel = "stylesheet";
        head.appendChild(linkFour);
        // linkFour.href = `/css/normalize.css`;
        // head.appendChild(linkFour);
    }


    function save() {
        console.log("save function");
        let grabTitle = document.getElementById("grabTitle").textContent;
        console.log(grabTitle);
        let grabMessage = document.getElementById("message").textContent;

        //saveData object is sent via post to the server 
        const saveData = {
            title: grabTitle,
            content: grabMessage
        };

        const postData = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(saveData),
        }

        fetch('/save', postData)
            .then(saveData => {
                if ((saveData.status === 200) && (confirm("Post saved! Press Ok to Post or Repost") == true)) {
                    console.log(saveData, saveData.ok);
                    if (saveData.ok) {
                        document.getElementById("sectionOne").remove();
                        document.getElementById("2").innerHTML = `
                        <h1>Saved</h1> 
                        <div class="content-width saveButton">
                            <button class="postData" onclick="data()">
                              See Post!!!
                            </button>                          
                        `;
                        data();

                    }
                    //location.reload();
                } else {
                    document.getElementById("2").innerHTML = "You canceled!";
                };
                if (saveData.status === 404) {
                    alert("not saved");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            }); // end of Save function
    }

    function data() {
        console.log("data function \n");
        // ...

        let fetchData = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: new Headers({
                'Content-Type': 'application/json; charset=UTF-8'
            })
        }

        fetch("/data")
            .then(function (results) {
                console.log("data fetch \n resutls \n", results.url);
                location.href = results.url
                // handle the response
            })
            .catch(function () {
                // handle the error
            });
    }



    function del(postTitle) {
        let postElement = document.querySelector(".del");
        const nodeList = document.querySelectorAll("h2");
        const divContent = document.getElementsByClassName("div-content");

        const data = {
            content: postTitle
        };

        fetch('/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                console.log('del recieved results json -->:', response);
                return response.json();
            })
            .then(check => {
                console.log("ok it works", check);
                if ((check.status === "sucess") && (confirm("Post Deleted") && check.answear)) {
                    console.log(check);
                    for (let i = 0; i < nodeList.length; i++) {
                        console.log(i, nodeList[i], nodeList[i]);

                        if (nodeList[i].outerText.toString() === check.delName.toString()) {
                            console.log("del element scuessfully", nodeList[i].outerText.toString());
                            console.log(divContent[i]);

                            divContent[i].innerHTML = "removed";

                        }
                        if (1 === check.delCount) {
                            console.log("check del true", check.delCount);
                            location.reload();
                            document.getElementById("sectionOne").remove();
                        }
                    }
                    // document.getElementById("3").remove()
                };


            }).catch(error => console.log(error));


    } // end of Delete function 
</script>