<script>
    console.log("javascript is included")
    // const section = document.querySelectorAll("section");
    // console.log("section:", section);

    function home() {

    }

    function navbar() {
        let head = document.querySelector("head");
        console.log("navbar");

        let linkTwo = document.createElement("link");
        linkTwo.type = 'text/css';
        linkTwo.href = '/css/main.css';
        linkTwo.rel = "stylesheet";
        head.appendChild(linkTwo);
    }


    function post() {
        console.log("post")

    }

    function log() {
        console.log("log")
        let head = document.querySelector("head");
        let linkFour = document.createElement("link");
        linkFour.type = 'text/css';
        linkFour.href = `/css/login.css`;
        linkFour.rel = "stylesheet";
        head.appendChild(linkFour);
    }


    function save() {
        let grabTitle = document.getElementById("grabTitle").textContent;
        let grabMessage = document.getElementById("message").textContent;

        //saveData object is sent via post to the server 
        const saveData = {
            title: grabTitle,
            content: grabMessage
        };

        const postData = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(saveData),
        }

        fetch('/save', postData)
            .then(saveData => {
                if ((saveData.status === 200) && (confirm("Post saved! Press Ok to Post or Repost") == true)) {
                    location.reload();;
                    document.getElementById("sectionOne").remove();
                    document.getElementById("2").innerHTML = "<h1>Saved</h1>";
                } else {
                    document.getElementById("2").innerHTML = "You canceled!";
                };
                if (saveData.status === 404) {
                    alert("not saved");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            }); // end of Save function
    }


    function del(postTitle) {
        let postElement = document.querySelector(".del");
        const nodeList = document.querySelector(".textTwo");
        const data = {
            content: postTitle
        };

        fetch('/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                console.log('del recieved results json -->:', response);
                return response.json();
            })
            .then(check => {
                console.log("ok it works", check);
                if ((check.status === "sucess") && (confirm("Post Deleted") && check.answear)) {
                    nodeList[1].remove();


                    console.log(nodeList);
                    // document.getElementById("3").remove()
                };

            }).catch(error => console.log(error));

    } // end of Delete function 
</script>