<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <%- include('meta.ejs'); %>
    <title> <%-  citename %> </title>
</head>

<body onload="navbar()">
    <h1 id="entri">Exit</h1>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="/images/tacoMan.jpg" />
        </div>
        <div class="flex-item-right">
            <p class="textOne ">
                Thank you for visiting the Webcite.
                <br>
                Have a greate day.
            </p>
        </div>
    </div>
    <%- include('../javaScript/script.ejs')%>
</body>