<%- include('../Head_Footer_JS/header.ejs'); %>
<%- include('../Head_Footer_JS/navbar.ejs'); %>


<body>
    <section class="box">
        <h1 id="entri" class="middle">Exit</h1>
        <div class="middle">
            <p class="textOne ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                quos, ducimus quibusdam incidunt, quia temporibus porro totam tempora
                suscipit animi vel voluptatum optio facilis tempore!
            </p>
            <img src="/images/tacoMan.jpg" />
        </div>
        <div class="mid-1" id="container"></div>
    </section>







</body>