<footer>
    <div class="header">
        <div class="foodService">
            <h1>Senior Project</h1>
            <h2>May 1, 2022</h2>
        </div>
        <div class="inforTag ">
            <a class="tag" href="https://www.edamam.com/"> Utilize API EDAMAm</a>
            <a href="https://www.mongodb.com/">Mongo Database</a>
            <a href="https://aws.amazon.com/">AWS</a>
        </div>
        <div class="logo">
            <img src="/images/LoGo.png" alt="Logo">
        </div>
    </div>
</footer>