<section class="box">
    <h1 id="entri" class="middle">Home</h1>
    <div class="middle">
        <img src="/images/MrTaco.jpg" />
        <p class="textOne ">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            quos, ducimus quibusdam incidunt, quia temporibus porro totam tempora
            suscipit animi vel voluptatum optio facilis tempore!
        </p>

    </div>
    <div class="mid-1" id="container"></div>
</section>
<section>