<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <%- include('meta.ejs'); %>
    <title> <%-  citename %> </title>
</head>

<%- include('navbar.ejs'); %>

<body>
    <h1 id="entri"> <%-  citename %> </h1>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="/images/MrTaco.jpg" />
        </div>
        <div class="flex-item-right">
            <p class="textOne ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                quos, ducimus quibusdam incidunt, quia temporibus porro totam tempora
                suscipit animi vel voluptatum optio facilis tempore!
            </p>
        </div>
    </div>

</body>