<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <%- include('meta.ejs'); %>

    <title> </title>
</head>


<body onload="log()">

    <form class="" action="/log/:uname/:psw" method="POST">
        <div class="imgcontainer">
            <img src="/images/tacoMan.jpg" alt="Avatar" class="avatar">
        </div>
        <div class="center">
            <div class="form-group">
                <label for="uname"><b>Username</b></label>
                <input id="name" type="text" placeholder="Enter Username" name="uname" required>
            </div>
            <div class="form-group">
                <label for="psw"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
    <%- include('../javaScript/script.ejs')%>
</body>