<%- include('../Head_Footer_JS/header.ejs'); %>
<%- include('../Head_Footer_JS/navbar.ejs'); %>

<body>

    <div class="container mt-3">
        <h2>Custom Select Menu</h2>
        <p>To create a custom select menu, add the .custom-select class to the select element:</p>
        <form action="/action_page.php">
            <select name="cars" class="custom-select mb-3">
                <option selected>Custom Select Menu</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>




<!-- https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_form_custom_select&stacked=h -->