<h1>Go back</h1>
<h2>Warning</h2>
<p>Click the button to alert the hostname of the current URL.</p>
<script>
    window.onload = function () {
        confirm(" Password Error");
        history.back();
    }
</script>