<body onload="navbar()" class="sec">
    <nav>
        <div class="header">
            <h1>Header</h1>
        </div>

        <ul class="flex-container">
            <li><a class="active" href="/home">Home</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/exit">Exit</a></li>
        </ul>
        </div>
    </nav>
    <%- include('../javaScript/script.ejs')%>
</body>