<body>
  <form class="box" action="/post/:content" method="post">
    <h1 id="entri" class="middle">Post</h1>
    <div class="a">

      <textarea name="content">
                    Hello
        </textarea>

      <script type="text/javascript">
        CKEDITOR.replace("content");
      </script>

    </div>
    <div class="textOne ">
      <!-- <input style="padding: 3%;" type="submit" value="Submit" /> -->
      <button type="submit" value="Submit">Post Tread </button>
      <button style="background: red" onclick="clrIDdemo()">Remove from view</button>
    </div>
  </form>

  <article>
    <div>
      Testing:
    </div>




  </article>


</body>