<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <%- include('./pages/meta.ejs'); %>
    <title> <%- name %> </title>
</head>

<%- include('./pages/navbar.ejs'); %>



<section class="test">
    <h1 class="header" id="entri"> Search </h1>
    <h1 class="header">Search Favorite Combo Meals</h1>
    <div class="flex-container">
        <div class="flex-item-left">

        </div>
        <div class="flex-item-right">
            <p class="textOne ">
                Choose Type of Recipe:
            </p>
        </div>
    </div>
</section>

<section id="form">

    <div class="flex-container-api">
        <form class="flex-item-right-api" action="/api/:Hamburger/:Pizza/:HotDogs" method="post">
            <input type="checkbox" id="Hamburger" name="Hamburger" value="Hamburger">
            <label for="vehicle1"> Hamburger</label><br>
            <input type="checkbox" id="Pizza" name="Pizza" value="Pizza">
            <label for="vehicle2"> Pizza</label><br>
            <input type="checkbox" id="HotDogs" name="HotDogs" value="HotDogs">
            <label for="vehicle3"> HotDogs</label><br><br>
            <input id="search" type="submit" value="Search choice">
        </form>
    </div>
</section>

<% if (load === true) { %>
<script src="/JavaSCript/scriptB.js"></script>
<%} else { %>
<% } %>





<!-- <input id="search" type="submit" value="Search"> -->
<section id="item"></section>
<section id="menu"></section>
<script src="/JavaSCript/script.js"></script>

<footer>
    <%- include('./pages/footer.ejs'); %>
</footer>