<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<section>

  <form class="box" action="/post/:content/:title" method="post">
    <h1 id="entri" class="middle">Enter Cooments or Questions</h1>
    <div class="a">
      <div class="input-group mb-3">
        <input type="text" name="title" class="form-control" placeholder="Post Name" aria-label="Post Name"
          aria-describedby="button-addon2">

      </div>

      <textarea name="content"></textarea>
      <script src="/ckeditor/ckeditor.js"></script>
      <script type="text/javascript">
        CKEDITOR.replace("content");
      </script>

    </div>
    <div class="textOne ">

      <button type="submit" value="Submit" style="margin-top: 1.5%;"
        class=" btn btn-primary btn-lg btn-block btn-success">Post Tread
        level
        button</button>
    </div>
  </form>
</section>
<section>
  <div>
    enter here:
    <div id="3">

    </div>
  </div>
</section>