<!DOCTYPE html>
<html lang="en">

<html>

<head>
  <%- include('./pages/meta.ejs'); %>

  <title><%- citename %> </title>
</head>


<%- include('./pages/navbar.ejs'); %>

<body>
  <h1> <%- citename %></h1>
  <section class="postArea">
    <form class="flex-container" action="/post/:content/:title" method="post">
      <h1 id="entri" class="middle">Enter Cooments or Questions</h1>
      <div class="flex-item-left">
        <div>
          <input type="text" name="title" class="form-control" placeholder="Post Name" aria-label="Post Name" required
            aria-describedby="button-addon2">
        </div>

        <textarea name="content"></textarea>
        <script src="/ckeditor/ckeditor.js"></script>
        <script type="text/javascript">
          CKEDITOR.replace("content");
        </script>
      </div>

      <div class="flex-item-right ">
        <button type="submit" value="Submit" style="margin-top: 1.5%;"
          class=" btn btn-primary btn-lg btn-block btn-success">Post Tread
          level
          button</button>
      </div>
    </form>
  </section>

</body>